@model ToDoItem

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete ToDo Item</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DueTime"></label>
            <input type="time" asp-for="DueTime" disabled class="form-control" />
            <span asp-validation-for="DueTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DueDate"></label>
            <input type="date" asp-for="DueDate" disabled class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <a asp-controller="ToDo" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back
        </a>
        <button type="submit" class="btn btn-outline-info" style="width:150px">Update</button>
    </div>
</form>
