@model BudgetItem

<div class="container">
    <form method="post" asp-action="Delete">
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-4 bg-primary-subtle">
            <div class="row pb-2">
                <h2 class="text-primary">Delete Budget</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Category"></label>
                <input asp-for="Category" disabled class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" disabled class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <input asp-for="Description" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" disabled class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Time"></label>
                <input type="time" asp-for="Time" disabled class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Date"></label>
                <input type="date" asp-for="Date" disabled class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <a asp-controller="Budget" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back
            </a>
            <button type="submit" class="btn btn-outline-danger btn-danger text-white fw-bold" style="width:150px">Delete</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
